name: Continuous Integration

on:
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: ["18.x"]

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: developer
          POSTGRES_PASSWORD: supersecretpassword
          POSTGRES_DB: forumapi_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18

      - name: npm install migrate and test
        run: |
          npm ci
          npm run migrate up
          npm run test
        env:
          CI: true
          HOST: localhost
          PORT: 3000

          PGHOST_TEST: localhost
          PGPORT_TEST: 5432
          PGUSER_TEST: developer
          PGPASSWORD_TEST: supersecretpassword
          PGDATABASE_TEST: forumapi_test

          ACCESS_TOKEN_KEY: test_access_key
          REFRESH_TOKEN_KEY: test_refresh_key
          ACCESS_TOKEN_AGE: 3000
